:root.theme-dark {
  --bg-color: #000;
  --accent-color: #00CC14;
  --animation-contour-color: #00CC14;
  --pattern: 
    repeating-linear-gradient(90 deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px)
}

:root.theme-light {
  --bg-color: #E7E7E7;
  --accent-color: #1A1A1A;
}

