/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-color: #E7E7E7;
    --accent-color: #1A1A1A;
    --main-font: 'Inter';
}